

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOperinoComponentLabel" jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.home.createOrEditLabel">Create or edit a Operino Component</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!operinoComponent.id">
            <label for="id" jhiTranslateDisabled="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="operinoComponent.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="operinoComponent.type" id="field_type"  required>
                <option value="CDR" jhiTranslateDisabled="operonCloudPlatformApp.OperinoComponentType.CDR">CDR</option>
                <option value="DEMOGRAPHICS" jhiTranslateDisabled="operonCloudPlatformApp.OperinoComponentType.DEMOGRAPHICS">DEMOGRAPHICS</option>
                <!--<option value="TERMINOLOGY" jhiTranslateDisabled="operonCloudPlatformApp.OperinoComponentType.TERMINOLOGY">TERMINOLOGY</option>-->
            </select>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslateDisabled="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.availability" for="field_availability">Active</label>
            <input type="checkbox" class="form-control" name="availability" id="field_availability"
                [(ngModel)]="operinoComponent.availability"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.applyLimits" for="field_applyLimits">Apply Limits</label>
            <input type="checkbox" class="form-control" name="applyLimits" id="field_applyLimits"
                [(ngModel)]="operinoComponent.applyLimits"
             />
        </div>
        <div  *ngIf="operinoComponent.applyLimits">
            <div class="form-group">
                <label class="form-control-label" jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.recordsNumber" for="field_recordsNumber">Records Number</label>
                <input type="number" class="form-control" name="recordsNumber" id="field_recordsNumber"
                       [(ngModel)]="operinoComponent.recordsNumber"
                        />
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.transactionsLimit" for="field_transactionsLimit">Transactions Limit</label>
                <input type="number" class="form-control" name="transactionsLimit" id="field_transactionsLimit"
                       [(ngModel)]="operinoComponent.transactionsLimit"
                        />
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.diskSpace" for="field_diskSpace">Disk Space</label>
                <input type="number" class="form-control" name="diskSpace" id="field_diskSpace"
                       [(ngModel)]="operinoComponent.diskSpace"
                        />
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.computeResourceLimit" for="field_computeResourceLimit">Compute Resource Limit</label>
                <input type="number" class="form-control" name="computeResourceLimit" id="field_computeResourceLimit"
                       [(ngModel)]="operinoComponent.computeResourceLimit"
                        />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslateDisabled="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslateDisabled="entity.action.save">Save</span>
        </button>
    </div>
</form>
