<div>
    <h4>
        <span jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.home.title">Operino Components</span>
        <button class="btn btn-success float-right create-operino-component" [routerLink]="['/', { outlets: { popup: 'operino-component-new/'+ operino.id + '/create'} }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.home.createLabel">
            Add an Operino Component
            </span>
        </button>
    </h4>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="operinoComponents.length == 0">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="alert alert-warning ">
                    <span jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.home.missing">Oh no! You don't have any operino components! You can add a component using the green button 'Add an Operino Component' button.</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="alert alert-info ">
            <h4 jhiTranslateDisabled="operonCloudPlatformApp.operino.sandbox.what.q">What is an Operino?</h4>
            <p jhiTranslateDisabled="operonCloudPlatformApp.operino.sandbox.what.a">The building blocks of the platform are called Operinos. An Operino provides a container for a set of services (or Operino components) from the platform that you need for a particular application.</p>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslateDisabled="operonCloudPlatformApp.operino.sandbox.cdr.q">What is a CDR?</span></dt>
                <dd>
                    <span jhiTranslateDisabled="operonCloudPlatformApp.operino.sandbox.cdr.a">Use this component to enable storage of patient or client records. The built-in openEHR standard allows the use of many ready-made clinical data templates and elements.</span>
                </dd>
                <dt><span jhiTranslateDisabled="operonCloudPlatformApp.operino.sandbox.demographics.q">What is a Demographics component?</span></dt>
                <dd>
                    <span jhiTranslateDisabled="operonCloudPlatformApp.operino.sandbox.demographics.a">Use this module to maintain an index of patients or clients with DOB, age, address and other subject-related information or identifiers.</span>
                </dd>
                <dt><span jhiTranslateDisabled="operonCloudPlatformApp.operino.sandbox.terminology.q">What is a Terminology server?</span></dt>
                <dd>
                    <span jhiTranslateDisabled="operonCloudPlatformApp.operino.sandbox.terminology.a">Use this module to give your users easy access to terms in their records. This makes searching and standardization of data easier.</span>
                </dd>
            </dl>
        </div>
    </div>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel *ngFor="let operinoComponent of operinoComponents; let i = index; trackBy: trackByFn">
            <template ngbPanelTitle>
                <span *ngIf="operinoComponent.type === 'CDR'" class="fa fa-database"></span>
                <span *ngIf="operinoComponent.type === 'DEMOGRAPHICS'" class="fa fa-users"></span>
                <span *ngIf="operinoComponent.type === 'TERMINOLOGY'" class="fa fa-code-fork"></span>
                &nbsp;
                <span><b>{{operinoComponent.type}}</b></span>
                <button class="btn btn-danger btn-sm float-right create-operino-component" [routerLink]="['/', { outlets: { popup: 'operino-component/'+ operino.id + '/delete/' + operinoComponent.id}  }]">
                    <span class="fa fa-remove"></span>
                    <span class="hidden-md-down" jhiTranslateDisabled="entity.action.delete">Delete</span>
                </button>
            </template>
            <template ngbPanelContent>
                <div class="alert alert-info">
                    <span *ngIf="operinoComponent.type === 'CDR'" jhiTranslateDisabled="operonCloudPlatformApp.operino.sandbox.cdr.a">Use this component to enable storage of patient or client records. The built-in openEHR standard allows the use of many ready-made clinical data templates and elements.</span>
                    <span *ngIf="operinoComponent.type === 'DEMOGRAPHICS'" jhiTranslateDisabled="operonCloudPlatformApp.operino.sandbox.demographics.a">Use this module to maintain an index of patients or clients with DOB, age, address and other subject-related information or identifiers.</span>
                    <span *ngIf="operinoComponent.type === 'TERMINOLOGY'" jhiTranslateDisabled="operonCloudPlatformApp.operino.sandbox.terminology.a">Use this module to give your users easy access to terms in their records. This makes searching and standardization of data easier.</span>
                </div>
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.availability" for="field_availability">Active</label>
                        <ui-switch size="small" class="form-control" name="availability" id="field_availability" [(ngModel)]="operinoComponent.availability"></ui-switch>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslateDisabled="operonCloudPlatformApp.operinoComponent.type" for="field_type">Type</label>
                        <input class="form-control" name="type" [(ngModel)]="operinoComponent.type" id="field_type"  disabled>
                        <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslateDisabled="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </form>
            </template>
        </ngb-panel>
    </ngb-accordion>
</div>
